.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #4969b0;
}

.brand-name {
    font-size: 24px;
    font-weight: bold;
    text-decoration-line: none;
}
.search-bar {
    margin: 0 20px;
    padding: 10px;
    width: 50%;
}

.buttons button {
    margin-left: 10px;
    padding: 10px 20px;
}
.side-nav {
    position: fixed;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #f5f5f5;
    overflow-x: hidden;
    transition: 0.5s;
}

.side-nav.open {
    width: 250px;
}

.side-nav .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 36px;
}

.side-nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 60px;
}

.side-nav ul li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

