.detailCard{
    width: 100%;
    height: max-content;
    background-color: rgb(160, 156, 156);
}
.ProdImage{
    width: 600px;
    height: 400px;
    border-radius: 5px;
    margin: 20px;

}
.productImage{
    width: 40%;

}
.productInfo{
    width: 60%;
    vertical-align: baseline;
}